.navbar-collapse{
    flex-grow: 0;
}

.white-bar{
    height: 3px;
    background-color: white;
    width: 10%;
    max-width: 200px;
}

ul li{
    list-style: none;
}

.section-bg{
    background-color: #1abc9c;
}

.max-width-250{
    max-width: 250px;
}

.about{
    background-color: #1abc9c;
}

.padding-self{
    padding-bottom: 100px;
}

